<mat-card
    class="mb-25 tagus-card"
>
    <mat-card-header>
        <h5 class="mb-0">Liste des categories</h5>
        <button type="button" mat-button class="position-relative btn bg-transparent border-none">
            Durant les 3 jours
        </button>
    </mat-card-header>
    <mat-card-content>
        <div class="best-selling-products-table table-responsive">
            <table class="table">
                <tbody>

                    <tr *ngFor="let categoriy of categories; let index = index;">
                        <td class="stock fw-semibold main-color">{{ categoriy.libelle }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>
