<div class="create-dialog-box scrollable-dialog">
    <div class="title d-flex align-items-center justify-content-space-between">
        <h4 class="mb-0">Créer un utilisateur</h4>
        <button class="close-btn bg-transparent p-0 border-none" (click)="close()">
            <i class="flaticon-close"></i>
        </button>
    </div>
    <form (ngSubmit)="saveUser()" [formGroup]="requestUserForm">
        <div class="row">
            <!-- Username -->
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label class="d-block fw-semibold">Nom d'utilisateur</label>
                    <input type="text" formControlName="username" class="input-control" placeholder="Nom d'utilisateur" required>
                </div>
            </div>

            <!-- Email -->
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label class="d-block fw-semibold">Email</label>
                    <input type="email" formControlName="emailAdresse" class="input-control" placeholder="Email" required>
                </div>
            </div>

            <!-- Password -->
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <label class="d-block fw-semibold">Mot de passe</label>
                    <input [type]="hide ? 'password' : 'text'" type="password" formControlName="password" class="input-control" placeholder="Mot de passe" required>
                </div>
            </div>

            <!-- Role -->
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="d-block mb-12 fw-semibold gray-color">Rôle</label>
                    <select formControlName="role" class="input-control" required>
                        <option value="ADMINISTRATEUR">ADMIN</option>
                        <option value="MANAGER">MANAGER</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="text-end">
            <button type="button" class="gray" (click)="close()">
                <i class="ri-close-fill"></i> Fermer
            </button>
            <button type="submit" [disabled]="requestUserForm.invalid">
                <i class="ri-add-fill"></i> Enregistrer
            </button>
        </div>
    </form>
</div>
