<div
    class="h-100vh pt-50 pb-50"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="tagus-form ms-auto me-auto">
                <div class="title">
                    <div class="d-flex mb-10 align-items-center">
                        <h2 class="mb-0 me-30">Commencer le training</h2>
                        <img src="assets/img/logo-icon.png" alt="logo-icon">
                    </div>
                </div>
                <form (ngSubmit)="login()" [formGroup]="requestAuthForm">
                    <div class="bg-white border-radius pt-20 ps-20 pe-20">
                        <div class="tagus-form-group without-icon">
                            <label class="d-block mb-12 fw-semibold gray-color">Adresse email <span>*</span></label>
                            <mat-form-field appearance="fill">
                                <mat-label>Entrez l'adresse e-mail</mat-label>
                                <input matInput type="email" formControlName="email" required>
                            </mat-form-field>
                        </div>
                        <div class="tagus-form-group without-icon">
                            <label class="d-block mb-12 fw-semibold gray-color">Mot de passe <span>*</span></label>
                            <mat-form-field appearance="fill">
                                <mat-label>Entrez votre mot de passe</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </div>
<!--                    <div class="d-flex info align-items-center justify-content-space-between">-->
<!--                        <mat-checkbox class="gray-color">Remember me</mat-checkbox>-->
<!--                        <a routerLink="/authentication/forgot-password" class="d-inline-block main-color fw-medium">Forgot your password?</a>-->
<!--                    </div>-->
                    <button type="submit" mat-flat-button class="tagus d-block fw-semibold">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
</div>
