<div
    class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-space-between">
    <h5 class="mb-0">Les catégories</h5>
    <ol class="breadcrumb mb-0 ps-0">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard">
                <i class="ri-home-8-line"></i>
                Tableau de bord
            </a>
        </li>
        <li class="breadcrumb-item fw-semibold">Les catégories</li>
    </ol>
</div>

<mat-card class="mb-25 tagus-card">
    <mat-card-header class="border-bottom">
        <button mat-raised-button color="primary"
            (click)="addCategoryModal('300ms', '100ms')">
            <i class="flaticon flaticon-plus"></i>
            Ajouter une catégorie
        </button>
    </mat-card-header>
    <mat-card-content>
        <div class="members-list-table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="fw-semibold main-color">Libelle de la
                            catégorie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of categories; let index = index;">
                        <td class="gray-color">
                            <div class="tags-list">
                                <a class="fw-medium">{{ item.libelle }}</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>

</mat-card>
