<header
    class="header-area bg-white border-bottom-radius box-shadow mb-25"
    [ngClass]="{'active': isToggled, 'sticky': isSticky}"
>
    <div class="d-md-flex align-items-center justify-content-space-between">
        <div class="header-left-side d-flex align-items-center">
            <div class="burger-menu" (click)="toggle()" [ngClass]="{'active': isToggled}">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </div>
            <form class="search-box position-relative">
                <input type="text" class="input-search d-block" placeholder="Search here..">
                <button type="submit"><i class="ri-search-line"></i></button>
            </form>
        </div>
        <ul class="header-right-side d-flex align-items-center mt-0 mb-0">

            <li class="d-none d-lg-block">
                <div class="date-btn main-color fw-semibold position-relative">
                    <i class="flaticon-calendar"></i> {{ formattedDate }}
                </div>
            </li>
            <li>
                <button mat-icon-button [matMenuTriggerFor]="profileMenu" class="profile-btn main-color border-none bg-transparent position-relative">
                    <img src="assets/img/admin.jpg" class="rounded-circle" alt="admin">
                    Admin
                    <span class="fw-semibold">{{infoUser?.user?.username}}</span>
                </button>
                <mat-menu class="profile-menu-dropdown" #profileMenu="matMenu" xPosition="before">
                    <ul class="m-0">
                        <li>
                            <a routerLink="/account">
                                <i class="ri-settings-3-line"></i> Profile
                            </a>
                        </li>
                        <li>
                            <button (click)="logout()">
                                <i class="ri-shut-down-line"></i> Deconnexion
                            </button>
                        </li>
                    </ul>
                </mat-menu>
            </li>
        </ul>
    </div>
</header>
