<mat-card
    class="mb-25 tagus-card">
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">Parametre</h5>
    </mat-card-header>
    <mat-card-content>
        <nav>
            <ul class="ps-0 mt-0">
                <li>
                    <a routerLink="/account" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Account</a>
                </li>
            </ul>
        </nav>
        <form (ngSubmit)="update()" [formGroup]="requestAccountForm">
            <h5 class="fw-semibold mb-8">Profile</h5>
            <p>Modifier votre profile personnel ici.</p>
            <div class="row mt-20">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Nom
                            d'utilisateur</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-user-3-line"></i>
                            <input matInput
                                formControlName="username" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">
                            Adresse Email</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-mail-line"></i>
                            <input matInput
                                formControlName="emailAdresse" required>
                        </mat-form-field>
                    </div>
                </div>

            </div>

            <button type="submit" mat-raised-button
                class="tagus fw-semibold">Mettre à jour</button>
        </form>
    </mat-card-content>
</mat-card>
