<mat-card
    class="mb-25 tagus-card">
    <mat-card-header class="border-bottom">
        <h5 class="mb-0">Parametre</h5>
    </mat-card-header>
    <mat-card-content>
        <nav>
            <ul class="ps-0 mt-0">
                <li>
                    <a routerLink="/account" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Account</a>
                </li>
            </ul>
        </nav>
        <form (ngSubmit)="update()" [formGroup]="requestAccountForm">
            <h5 class="fw-semibold mb-8">Profile</h5>
            <p>Modifier votre profile personnel ici.</p>
            <div class="row mt-20">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Nom
                            d'utilisateur</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-user-3-line"></i>
                            <input matInput
                                [(ngModel)]="user.username"
                                formControlName="username" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label
                            class="d-block mb-12 fw-semibold gray-color">Adresse
                            Email</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-mail-line"></i>
                            <input matInput
                                [(ngModel)]="user.emailAddress"
                                formControlName="emailAdresse" required>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Nouveau mot de passe</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-lock-3-line"></i>
                            <input matInput type="password" formControlName="new_password" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label class="d-block mb-12 fw-semibold gray-color">Confirmer le mot de passe</label>
                        <mat-form-field appearance="fill">
                            <i class="ri-lock-3-line"></i>
                            <input matInput type="password" formControlName="cf_password" required>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row mt-20">

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <label
                            class="d-block mb-12 fw-semibold gray-color">Votre
                            Rôle</label>
                        <mat-form-field appearance="fill">
                            <input matInput
                                [(ngModel)]="user.role.libelle"
                                formControlName="role" required
                                readonly>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="tagus-form-group">
                        <button type="submit" mat-raised-button
                            class="tagus fw-semibold" style="margin-top: 8%; margin-left: 2%;">Mettre à jour</button>
                    </div>
                </div>
            </div>

        </form>
    </mat-card-content>
</mat-card>
