<div class="p-30">
    <h3 mat-dialog-title>SUPPRESION</h3>
    <p mat-dialog-content style="color: red;">Voulez-vous supprimer l'utilisateur <span style="color: blue;"><Strong>{{ user.username }}</Strong></span> ?</p>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close (click)="close()" class="border-none fw-semibold ps-30 pe-30 pt-12 pb-12 cursor-pointer" style=" margin-right: 10px;">Non</button>
        <button mat-button mat-dialog-close (click)="delete()" class="border-none fw-semibold ps-30 pe-30 pt-12 pb-12 cursor-pointer" style="background-color: red; color: white;">Oui</button>
    </div>
</div>
