<div class="row">
    <div class="col-md-4">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between align-items-center">
                <div class="title">
                    <h3>{{ products.length }}</h3>
                    <span class="d-block gray-color"> Produit Total </span>
                </div>
                <div class="icon">
                    <i class="flaticon-donut-chart"></i>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="single-stats-box tagus-card mb-25">
            <div class="d-flex justify-content-space-between align-items-center">
                <div class="title">
                    <h3>{{ categories.length }}</h3>
                    <span class="d-block gray-color">Categories Total</span>
                </div>
                <div class="icon">
                    <i class="flaticon-goal"></i>
                </div>
            </div>
        </mat-card>
    </div>
</div>
