<div
    class="sidebar-area bg-white box-shadow"
    [ngClass]="{'active': isToggled}"
>
    <div class="logo bg-white">
        <a routerLink="/" class="d-flex align-items-center">
            <img src="assets/img/logo-icon.png" alt="logo">
            <span>Tanguy Training</span>
        </a>
    </div>
    <div class="burger-menu" (click)="toggle()" [ngClass]="{'active': isToggled}">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
    </div>
    <ng-scrollbar visibility="hover" style="height: 100vh;">
        <div class="sidebar-inner">
            <div class="sidebar-menu">
                <mat-accordion>
<!--                    <span class="sub-title gray-color">MAIN</span>-->
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="flaticon-menu-1"></i>
                                <span class="title">Tableau de bord</span>
                                <span class="badge">7</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            <li class="sidemenu-item">

                                <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Gestion des utilisateurs
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Gestion des produits
                                </a>
                            </li>
                            <li class="sidemenu-item">
                                <a routerLink="/dashboard/categories" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidemenu-link">
                                    Gestion des catégories
                                </a>
                            </li>
                        </ul>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </div>
    </ng-scrollbar>
</div>
