<div class="row">
    <div class="col-xxl-8">
        <app-ecommerce-stats
         [products]="products"
         [categories]="categories"
         ></app-ecommerce-stats>
</div>
<div class="row">
    <div class="col-xxl-4">
        <app-best-selling-products  [categories]="categories"></app-best-selling-products>
    </div>
    <div class="col-xxl-8">
        <!-- <app-team-members-list [products]="products"></app-team-members-list> -->
        <app-products></app-products>
    </div>

</div>
